body {
    background: #333;
}
.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #timer {
    color: #a8a8a8;
    font-size: 112px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 20px 40px;
    margin: 10px;
    font-size: 30px;
    background-color: #838383;
    color: white;
    border: none;
    border-radius: 20%;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #8e3e3e;
  }
